.auth{
    margin: 1rem;
    padding: 1rem;
    border: 1px solid;
    border-radius: 30px;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    width: auto;
}