.auth{
    margin: 1rem;
    padding-top: 5rem;
    border: 0px solid;
    border-radius: 30px;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    width: auto;
}