<mat-toolbar color="primary">

	<button [routerLink]="['/']"
		mat-button>
		<mat-icon>home</mat-icon>
		Home
	</button>

	<button *ngIf="authService.currentUser$ | async"
		[routerLink]="['/users']"
		mat-button>
		<mat-icon>people</mat-icon>
		Пользователи
	</button>

	<button *ngIf="authService.currentUser$ | async"
		(click)="logout()"
		mat-button
		type="button">
		<mat-icon>logout</mat-icon>
		Выход
	</button>

	<button *ngIf="(authService.currentUser$ | async) == null"
		(click)="logout()"
		mat-button
		type="button">
		<mat-icon>login</mat-icon>
		Вход
	</button>

</mat-toolbar>
